

    <form id="loginForm">
        
        <label>Username</label>
        <input type="text" id="txtusername" />
        <span id="spnusrname" class="error"></span>
        <br>

       
        <label>Password</label>
        <input type="password" id="txtpassword" />
        <span id="spnpassword" class="error"></span>
        <br>

        <button type="button" id="btnValidate">Login</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>